md-input {
	margin: 8px 0;
	width: 100%;
}

md-card {
	margin-top: 2em;
}

.error {
	color: darkred;
	font-size: 120%;
}

.private-data {
	/*font-size: 112%;*/
}

md-icon {
	vertical-align: middle;
}

#point-component {
	position: absolute;
	z-index: 10;
	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.column {
	float: left;
	margin-right: 3%;
	width: 46%;
}

md-list, md-list-item {
	width: 100%;
}

.button-hub {
	float: right;
}